//NAVBAR-HEADER-TEXT
.header-text {
    background-color: black;
    width: 100%;
    height: 47px;
    color: white;
    font-size: 15px;
    font-weight: 600;

    .carousel {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        .slide {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            animation: carousel 30s infinite linear;
            display: flex;
            @include flex-center;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 10s;
            }

            &:nth-child(3) {
                animation-delay: 20s;
            }
        }
    }

    @keyframes carousel {
        0% {
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        25% {
            opacity: 1;
        }

        34% {
            opacity: 0;
        }
    }
}

//PRODUCT CARD
.product-card {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    @include flex-center;

    &:hover .product-card-img {
        opacity: 1;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .product-card-img {
        height: 100%;
        width: 100%;
        background-color: #eceff1;
        opacity: 0.97;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .product-card-text {
        height: 125px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        padding: 2%;
        word-break: break-word;

        .product-card-text-component_tittle {
            p {
                font-size: 21px;
                color: black;
                font-weight: 600;
                text-decoration: none;
                width: 100%;
            }
        }

        .product-card-text-component_description {
            font-size: 18px;
        }

        .product-card-text-component_price {
            font-size: 20px;
            padding-top: 3px;
            font-weight: 600;
        }
    }

    &:hover .product-card-text-component_price {
        font-weight: 900;
    }
}

//PRODUCT-GALERY
//CORE
.core-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//CORE-HEADER
.core-header {
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(222, 221, 221);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;

    .core-header-pages {
        width: 100%;
        height: 100%;

        .order-pages {
            width: 100%;
            height: 100%;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: start;
                padding-left: 1%;
                list-style: none;
                gap: 10px;
                word-wrap: break-word;

                a {

                    font-size: 17px;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }

    .core-header-title {
        font-size: 50px;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-weight: lighter;
        margin-bottom: 20px;
        word-wrap: break-word;
    }

    .core-header-order-filter {
        display: flex;
        flex-direction: column;
        @include flex-center;
        gap: 5px;
        padding-bottom: 5px;

        input[type=button] {
            display: inline-block;
            height: 45px;
            width: 100%;
            font-size: 20px;
            background-color: transparent;
            cursor: pointer;
            border: 1px solid black;
            color: black;
        }
    }
}

.product-gallery-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: 10px;
    justify-content: center;

    .product-card {
        .product-card-img {
            height: 274px;
        }        
    }
}

//AGREGAR cart BUTTON

.product-detail-description-talles_buyit_button-2{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;


    input {
        height: 50px;
        width: 100%;
        border-radius: 30px;
        background-color: black;
        color: white;
        box-shadow: unset;
        outline: none;
        border: none;
        font-weight: 600;
        font-family: system-ui;
        font-size: 15px;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: rgba(48, 48, 48, 0.918)
        }
    }
}