/* fonts sizes */
$text-size-default: 15px;
$text-size-s: 17px;
$text-size-m: 19px;
$text-size-l: 21px;

$h2-size-default: 18px;
$h2-size-s: 22px;
$h2-size-m: 24px;
$h2-size-l: 40px;

$product-card-tittle-size: 21px;
$product-card-description-size: 18px;
$product-card-price-size: 20px;
$product-card-font-size: 22px;
